body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
}

/* Game area */
#game {
  position: relative;
  width: 320px;
  height: 500px;
  background: #1b2a35;
  border: 4px solid #aaa;
  margin: 20px auto;
}

/* Rooms */
.room {
  position: absolute;
  border: 4px solid #aaa;
  background: #000;
}

.room1 {
  width: 140px;
  height: 200px;
  top: 20px;
  left: 20px;
}

.room2 {
  width: 140px;
  height: 200px;
  top: 20px;
  right: 20px;
}

/* Door */
#door {
  position: absolute;
  width: 30px;
  height: 8px;
  background: brown;
  top: 110px;
  left: 145px;
}

/* Player */
#player {
  position: absolute;
  width: 18px;
  height: 18px;
  background: red;
  border-radius: 50%;
  left: 60px;
  top: 300px;
}

/* Controls */
.controls button,
.door-btn {
  font-size: 18px;
  padding: 10px;
  margin: 5px;
}
